html, body, div, h5, h6, p, ul, li {
    margin: 0px;
    padding: 0px;
    list-style:none;
}
body{
	background: #999!important;
}
#app {
    .title {
        font-size: 25px;
        text-align: center;
        transform: scale(0.8);
    }
}
.blog-header{
	background: #404040;
	font-size: 30px;
	color:#fff;
	padding:20px 40px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 2;
	.header-more{
		font-size: 20px;
		position: absolute;
		right: 40px;
		top:20px
	}
}
.blog-content{
	padding: 100px 0;
	text-align: center;
}
footer{width: 100%;height: 80px;background: #404040;}
.font3 li{font-size: 20px}
.blog-ul{
	width:1000px;
	margin: 0 auto;
	background: #fff;
	padding: 0 20px;
	border-radius: 20px;
	.blog-li{
		font-size: 18px;
		border-bottom:2px dotted #404040;
		padding:0 30px 30px 30px ;
		margin: 10px 0;
		position: relative;
		text-align: left;
		p{padding:20px 0;}
		p.blog-title{font-size: 25px;border-bottom: 2px solid #404040;}
		.list-content{
			box-sizing:content-box;padding: 30px 0;
			p{padding: 0;text-align: left!important;}
			}
		p.blog-time{text-align: right;padding: 10px 0;}
		.blog-btn{
			display: none;
			position: absolute;top:20px;right: 30px;
			button{font-size: 18px;}
		}
		.blog-btn.active{
			display: block;
		}
	}
	.blog-li:last-child{
		border-bottom: none;
	}
}

.list-a{
	text-align: right;
	padding: 0!important;
}
.detial-box{
	width: 1000px;
	margin: 0 auto;
	padding:10px 50px;
	text-align: center;
	font-size: 25px;
	box-sizing:border-box;
	background: #fff;
	border-radius: 20px;
	h1,h2,h3,h4,h5,h6{text-align: center;padding-bottom: 20px;}
	h3.detial-title{
	position: relative;
	font-size: 35px;
	color: #222;
	padding: 20px;
	padding-bottom: 80px;
	border-bottom: 2px dotted #999;
		i{
		font-size: 20px;
		position: absolute;right: 50px;bottom:10px;
		}
	}
	.detial-content{
		padding: 20px;
		padding-top: 50px;
		line-height: 30px;
		text-align: left;

	}
	.ant-breadcrumb{
		text-align: left;
		padding-left: 20px;
		font-size: 25px;

	}
	.detial-comment{
	margin-top:100px;
	padding-top: 30px;
	border-top:2px solid #999;
	position: relative;
	textarea{
	height: 120px;
	width: 80%;
	font-size: 18px;
	padding: 10px;
	}
	 button{
	display: block;
	width: 80%;
	background: #222;
	margin: 30px auto;
	color:#fff;
	}
	ul{
		margin-bottom: 30px;
	}
	li{
		font-size: 16px;
		padding: 10px 0;
		span{width: 14%;display: inline-block;text-align: right;vertical-align: top;}
		span:first-child:after{content:':';}
		div{width:70%;display: inline-block;text-align: left;overflow: hidden;vertical-align: top;word-break:break-all;}
	}
	li:after{
		content:' ';
		display: block;
		clear:both;
	}
}
.detial-comment:before{
	position: absolute;
	content:'评论区:';
	font-size: 25px;
	top: -40px;
	left: 0;
}
}
.empty-list{text-align: center;font-size: 25px;}
.blog-content{
	.ant-pagination{
		display: inline-block;
		margin-top:50px; 
	}
}

.unLogin-info{
	margin-top: 100px;
}
.hiddenPag{display: none!important;}